* {
    margin: 0;
    padding: 0;
}
.form-id {
    border: 1px solid black;
}
.form-id .f1 {
    border: 1px solid black;
    background-color: cornflowerblue;
    font-size: 70px;
    text-align: center;
    padding: 50px;
    font-weight: bold;
}
.form-id .f2 {
    text-align: center;
    position: relative;
    bottom: 40px;
}
#form {
    border: 1px solid yellow;
    width: 400px;
    padding: 10px;
    margin: auto;
}
#form form p {
    padding: 10px;
}
#form form input[type='submit'] {
    text-align: center;
    padding: 10px;
    margin-left: 150px;
}