.content-div {
    background-color: #d9da3e;
    padding: 10px;
}
.font ul {
    color: #4951d8;
}
.bd .font2 {
    font-weight: bold;
    font-size: 40px;
    color: #7b1e6e;
}
.bd .font3{
    color: #7b1e6e;
}