*{
	
margin: 13px;
}

.son {
    font-weight: bold;
}

.table {
    color: #09099a;
    padding: 10px;
}

.href {
    color: #09099a;
    padding: 10px;
}

.justify {
    color: #933294;
    border: 4px dashed;
    border-color: black;
    padding: 10px;
    width: 442px;
}

.ft {
    color: #933294;
    padding: 10px;
}

body {
    background: #acacef;
}