*{
	
}

input[type="submit"] {
    background: #313179;
    margin-left: 101px;
    width: 82px;
    height: 30px;
    border-radius: 9px;
    color: white;
    font-weight: bold;
}

td {
    padding: 7px;
}

td.canle {
    text-align: right;
}

table {}

h1 {
    text-align: center;
}

h1 {margin-top: 23px;}

form {
    background: white;
    padding-left: 28%;
    padding-top: 17px;
    font-weight: bold;
}

body {
    background: #54769a;
}
.sb{
	text-align: center;
}
input [type="submit"]
{
	background: blue;
}