*{
	margin: 0px;
	padding: 0px;
}
.deader {
    display: flex;
}
.chu {
   font-size: 30px;
    color: red;
    position: relative;
    height: 60px;
    width: 100%
}
.vitri {
    position: absolute;
    top: 32px;
    left: 30px;
}
