*{
	margin: 0px;
	padding: 0px;
}

td.canchinh {
    text-align: center;
}

form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.conten {
    height: 500px;
    position: relative;
}

.p2 {
    /* margin: 19px; */
    /* margin-top: 2px; */
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

.vitri {
    position: absolute;
    /* left: 300px; */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.p1 {
    font-size: 50px;
    font-weight: bold;
    /* position: absolute; */
    left: 354px;
    margin: 20px;
}

.header {
    height: 150px;
    background: #e1d9e6;
    position: relative;
}