@font-face {
    src: url("../Font/Inconsolata-Regular.ttf");
    font-family: Inconsolata;
}
@font-face {
    src: url("../Font/PlayfairDisplay-Regular.ttf");
    font-family: playfairdisplay;
}
@font-face {
    src: url("../Font/Ubuntu-Light.ttf");
    font-family: ubuntu-light;
}
body{background:white;}
.wrapper{

    padding-top:65px;
    font-family:playfairdisplay;
}
.container{
    max-width:1067px;
    margin:auto;
}

body{margin:0}
*{box-sizing: border-box}

/*HEADER*/
.header{padding-bottom:65px;}
.row{display:flex;}
.col-md-5{
    flex:40%
}
.col-md-7{
    flex:60%;
}
.logo{
    font-family: Inconsolata;
    font-size:30px;
    color:black;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.menu{}
ul{margin:0;}
.menu li{
    list-style:none;
    display:inline-block;
    padding-left:80px;
}
.menu .menu-link{
    text-decoration:none;
    font-size:14px;
    color:#626262;
    font-family:playfairdisplay;
}
.photodiary{padding-top:90px;}
.button-a a{
    font-family:ubuntu-light;
    color:#b4ad9e;
    font-size:14px;
    text-decoration:none;
}
.title{
    color:#626262;
    font-size:30px;
}
.description{
    color:#626262;
    font-size:14px;
}
.photodiary .leave{
    padding:40px 0;
}
/*.second-post{padding:90px 0;}*/
.second-post .row{
    flex-wrap: wrap;
    margin:0 -30px;
}
.col-md-6{
    flex:50%;
}
.lifestyle{
    padding:60px 30px;
}
.lifestyle img{width:100%;}
.group4{padding:30px 0}

/*SIGN-UP*/
.sign-up{
    background:#f0f0f0;
    padding:70px;
}
.sign-up .title{
    font-family: playfairdisplay;
    color:black;
    text-align:Center;
}
.letter-new{
    max-width: 380px;
    margin: auto;
    border-bottom: 1px solid black;
}
.letter-new input[type='email']{
    font-family: playfairdisplay;
    outline: none;
    border: none;
    width: 330px;
    height: 40px;
    padding: 0 16px;
    background: #f0f0f0;
}
.letter-new input[type='email']:focus{
    background:#f0f0f0;
}
.icon-send .fa{transform:rotate(45deg)}
.icon-send{
    float:right;
    padding-right:20px;
    color:black;
}
.third-post {
    padding: 100px 0;
}
.third-post .lifestyle{padding:0 30px;}
.load-more {
    width: 100%;
    margin-top: 160px;
    text-align: center;
    height:1500px;
}
.load-more button{
    font-family: playfairdisplay;
    font-size:20px;
    color:#626262;
    padding:20px 35px;
    border:1px solid black;
    background:white;
}
.footer{
    background:#f0f0f0;
    padding:40px 65px 40px 150px ;
}
.footer .description{
    color:#000;
    padding:0 15px;
}
.icon-follow {
    float: right;
}
.icon-follow a {
    text-decoration: none;
    color: #626262;
    font-size: 18px;
    padding: 0 5px;
}
