.top-boder{
    background-color: #2589cb;
    height: 10px;
}
.row{
    display: flex;
}
.container{
    max-width: 70%;
    margin: auto;
    font-family: Arial;
    font-size: 15px;
}
.col-md-6{
    flex-basis: 50%;
}
.row-menu-top ul{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.row-menu-top li{
    list-style-type: none;
    display: inline-flex;
    padding: 10px;
    background-color: #fff;
}
.row-menu-top a{
    text-decoration: none;
}
.row-menu-top li a:hover {
    background-color: #efefef;
    }
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: black;
    font-family: Arial;
    text-align: center;
    background-color: #2077c4;
}
.footer p{
    color: #fff;
}
.footer li{
    list-style-type: none;
    display: inline-flex;
    padding: 5px;

}
.footer a{
    text-decoration: none;
    color: #fff;

}
.logo-text{
     font-family: Myriad Pro,sans-serif;
     font-weight: bold;
     font-size: 40pt;
}
.header .row p{
    position: relative;
    top: -15px;
    left: 140px;
    color: #bababa;
    margin: 0;
}
.header  .row{
    padding: 20px;
}
.search{
    padding: 18px;
}
.search-content{
    margin-left: 260px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #bababa;
}
.row-menu-top{
   
    display: flex;
}
.header img {
    position: relative;
    right: 35px;
    top: 6px;
}
.menu-link{
    color: black;
    
}
.row-menu-top ul{
    margin: 0;
}

.header-center-content {
    font-size: 40px;
    color: #fff;
    padding: 18px;
    font-weight: bold;
}
.header-center{
    background-color: #2383c9;
}
.background-center {
    background-color: #efefef;
    height: 40px;
}
.background-bottom {
    background-color: #efefef;
    height: 30px;
}
.col-md-8{
    flex-basis: 60%;
    padding-right: 60px;
}

.col-md-4{
    flex-basis: 40%;
}
.image-item {
    padding: 20px;
}
.item-content {

}
.button {
  background-color: #238bcc;
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
.content-left{
    padding-right: 40px;
}
.date-time-content{
    background-color: #dbdbdb;
    text-align: center;
    border-style: outset;
    border-right: none;

}
.learn-more{
    font-weight: bold;
    color: #238bcc;

}
.screen-right{
    height: 1100px;
}
p{
    line-height: 1.5;
}
.main-center-right{
    background-color: #f7f7f7;
}
