*{
margin: 0px;
padding: 0px;
	
}

.contenleftrowitem1 {
}

.item.left {
    float: left;
    width: 150px;
    clear: both;
}

img.anh {
    width: 134px;
    height: 134px;
}

a.cllink {
    color: white;
}


ul.ulmenu {
    /* display: inline-block; */
    height: 35px;
}

ul.ulmenu {
    background: #666666;
}

span.span5 {
    color: #F07F1C;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    left: 156px;
}

span.sphtml {
    color: white;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    left: 30px;
    top: 10px;
}

.header {
    /* position: fixed; */
    width: 100%;
}

.noidungtieude {
    position: relative;
}

.tieude {
    background: #333333;
    height: 70px;
    width: 100%;
    position: relative;
}
.lii:last-child{
	border-right: none;
}*{
margin: 0px;
padding: 0px;
	
}

span.spanft2 {
    color: orange;
}

span.spanft {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

span.spanft {}

.foodter {
    clear: both;
    background: black;
    height: 34px;
    text-align: center;
    position: relative;
}

.contenrightrow2 {/* margin: 10px; */}

p.contenrightrow4 {
    margin-top: 20px;
}

ul.ul2 {list-style: none;margin: 10px;}

p.contenrightrow1 {
    font-size: 24px;
    font-weight: bold;
}

.contenright {
    height: 506px;
    width: 45%;
    padding: 15px;
    background: #E5E5E5;
}

.conten {
    display: flex;
    height: 555px;
}

.contenleftrowitem3 {height: 150px;width: 81%;margin: 25px 34px;padding-top: 10px;}

.item.right2 {
    height: 150px;
    width: 600px;
}

p.dong3 {
    color: #E68944;
}

p.dong2 {
    color: #868686;
    margin-bottom: 10px;
}

.item.right {
    width: 600px;
    margin: 15px;
}

p.dong1 {
    font-weight: bold;
    font-size: 23px;
    margin-top: -15px;
    margin-bottom: 10px;
}

.item.left2 {
    float: left;
    width: 150px;
}

.contenleftrowitem2 {
    clear: both;
}

.contenleftrowitem1 {
    float: left;
    /* clear: both; */
}

.contenleftrowitem2 {
    height: 150px;
    margin: 15px;
    width: 82%;
    border-bottom: 2px solid #FBFBFB;
    margin: 25px 34px;
}

.contenleftrowitem1 {height: 150px;border-bottom: 2px solid #FBFBFB;margin: 25px 34px;width: 81%;}

.item.left {
    float: left;
    width: 150px;
    /* clear: both; */
}

img.anh {
    width: 134px;
    height: 134px;
}

a.cllink {
    color: white;
}

li {
    /* display: inline-block; */
    /* border-right: 1px solid #000; */
    /* padding: 7px; */
    /* margin-right: -1px; */
}

li.lii {
    display: inline-block;
    border-right: 1px solid #000;
    padding: 7px;
    margin-right: 1px;
}

li.a2 {color: orange;}

ul.ulmenu {
    /* display: inline-block; */
    height: 35px;
}

ul.ulmenu {
    background: #666666;
}

span.span5 {
    color: #F07F1C;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    left: 156px;
}

span.sphtml {
    color: white;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    left: 30px;
    top: 10px;
}

.header {
    /* position: fixed; */
    width: 100%;
}

.noidungtieude {
    position: relative;
}

.tieude {
    background: #333333;
    height: 70px;
    width: 100%;
    position: relative;
}
li:last-child{
	border-right: none;
}