*{
	
}

ul {list-style: none;}

.foodter3row1 {
    font-size: 23px;
    margin-left: 21px;
}

.foodter3row1 {}

.foodter3row2 {
    display: flex;
    color: #BF5B5C;
    margin-left: -22px;
}

.foodter2row2 {
    margin-top: 23px;
}

img.anh_foodrerow2 {
    width: 60px;
}

.foodter2row1 {
    font-size: 22px;
}

p.foodter1row3 {
    font-size: 15px;
}

p.foodter1row2 {
    font-size: 12px;
}

p.foodter1row1 {
    font-size: 21px;
}

.foodter3 {
    width: 40%;
}

.foodter3 {
    padding-top: 40px;
}

.foodter2 {
    float: left;
    width: 30%;
    padding-top: 40px;
}

.foodter1 {
    float: left;
    width: 30%;
    padding-top: 23px;
}

.foodter {
    display: flex;
}

img.anh_ud {
    width: 50px;
    height: 50px;
    margin-right: 33px;
}

.ungdung {}

p.vbcontenright {
    text-align: justify;
    color: white;
}

img.anh_row2 {
    width: 101px;
    margin-left: 115px;
    margin-top: 17px;
}

img {}

img.chinhanh {
    border-radius: 10px;
}

.anh_son_contentright {
    width: 50px;
}

span.row1 {
    color: white;
    font-size: 24px;
}

.anh_contenright {
    background: #706B64;
    padding: 10px;
    border-radius: 10px;
}

img.anh_contenright {
    width: 376px;
    border-radius: 10px;
}

p.p_vbcontentlef {
    text-align: justify;
}

.contenright {
    width: 30%;
    /* background: #706B64; */
}

.conten {
    margin-top: 21px;
    display: flex;
    border-bottom: 1px solid #BDA9A6;
    padding-bottom: 20px;
}

.contenlefp {
}

.contenlefp {
    float: left;
    width: 70%;
    margin-right: 59px;
}

img.chinhanh2 {
    height: 31px;
    width: 33px;
}

span.sp1 {
    font-size: 26px;
    margin: 19px;
}

.tieuderightson {
    position: absolute;
    top: 42px;
}

.tieuderight {
    width: 50%;
    position: relative;
}

.tieudeleftboton {
    position: absolute;
    top: 46px;
}

.tieudelefttop {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}

.tieudeleft {
    position: relative;
    float: left;
    width: 50%;
}

.tieude {
    height: 80px;
    border-bottom: 1px solid #A38986;
    display: flex;
    margin-bottom: 15px;
}

body {
    background: #FFF6D8;
    padding: 30px;
}