.body{
    font-family: 'Open Sans', sans-serif;
}
.div1{
        border: 1px solid black;
        width: 500px;
        height: 20px;
        padding: 5px;
    }
.div2{
        border: 1px solid black;
        width: 500px;
        padding: 5px;
    }
.div3{
        border: 1px solid black;
        width: 300px;
        height: 80px;
        float: right;
        margin-top: 5px;
        background-color: #9FC5F8;
    }
.div4{
        border: 1px solid black;
        width: 190px;
        height: 80px;
        margin-top: 5px;
        background-color: #EA9999;
    }
.div5{
        border: 1px solid black;
        width: 498px;
        height: 80px;
        margin-top: 5px;
        background-color: #FFE599;
    }