/* ======================= CSS ======================= bai 1*/
.baitap1{
    padding-left: 20px;
    font-size: 19px;
    line-height: 25px;
    background-color: #EEFFFF;
    height: 400px;
    width: 600px;
}
.warning{
    color: red;
}
/* CSS bai 2*/
.baitap2{
    padding-left: 25px;
    height: 310px;
    width: 600px;
    background-color: #008000;
}
.bai2-detail{
    height: 120px;
    width: 550px;
    background-color: red;
}
.text-bai2{
    padding-top: 10px;
}
/* ======================= CSS bai ======================= 3*/
.Mock1{
    height: 25px;
    width: 600px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.Mock1-detail{
    height: 440px;
    width: 600px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.detail-Mock1{
    display: inline-flex;
    padding-left: 25px;
    padding-top: 20px;
}
.null-bai3-1{
   
    height: 100px;
    width: 150px;
    background-color:#EA9999;
}

.null2-bai3-1{ 
    padding-left: 25px;
    padding-top: 20px;
    height: 100px;
    width: 550px;
    background-color:#FFE599;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 25px;
}
.rightclass{
    height: 100px;
    width: 390px;
    background-color:#9FC5F8;
    margin-left: 10px;

}
/* ======================= CSS bai 5 ======================= */
.fix-input{
    margin-left: 30px;
}
/* ======================= CSS bai 7 ======================= */
.text-bai7{
    background-color: #F4F4F4 ;
    text-align: center;
    border-style: outset;
    border-right: none;
}
.text1-bai7{
    font-size: 25px;
    text-decoration: solid;
}
.content-bai7{
    padding-left: 35%;
}
.fix-table-bai7{
    padding-bottom: 20px;
}

/* ======================= CSS bai 12 ======================= */
.header-bai12{
    background-color: #CCCCCC;
     text-align: center;

}
.table-12{
    border-collapse: separate;
     border-spacing: 5px;
}
/* ======================= CSS bai 13 ======================= */
.fix-bai13{
    border-collapse: collapse;
    border: 1px solid black;
}
.fix1-table13{
    color:  #3B5F8E;
}
.fix2-table13{
    color: #64A5E2;
}

/* ======================= CSS bai 14 ======================= */
.detail-table th, td { padding: 10px; }

/* ======================= CSS bai 16 ======================= */
.footer16 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
/* ======================= CSS bai 17 ======================= */
.button-bai17{
    color: white;
    background-color:#59ACE0;
    border-radius: 10px;
    border: none; 
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
}
/* ======================= CSS bai 19 ======================= */
.logo{
    background-color: #333333;
    padding-left: 10px;
    height: 50px;
    width: auto;
}
.menu{
    background-color: #666666;
    display: inline-flex !important;
    width: 100%;
}
.link1{
    padding-left: 10px;
    padding-right: 10px;  
}
.content{
    display: inline-flex !important;
    margin-top: 30px;
}
.fix-right-content{
    display: flex;
    justify-content: space-between;
}
.right-content  {
    padding-left: 20px;
}
.fix-a{
    margin-left: 30px;
}