.header{
	background: #2f2f2f;
    padding: 10px 0px;
    color: white;
}
.row{
	display: flex;
	align-items: center;
}
.header li{
	display: inline-block;
	padding: 0 15px;
}
.menu-link{
	color: white;
    text-decoration: none;
    font-family: Myriad Pro;
}
.col-md-3{
	flex-basis: 30%;
}
.col-md-9{
	flex-basis: 70%
}
.container {
    max-width: 70%;
    margin: auto;
}

@font-face{
	src: url('../fonts/Pacifico.ttf');
	font-family: "Pacifico";
}
span.logo-text{
	font-family: Pacifico;
	font-size: 36px;
}
.col-md-5{
	flex-basis: 40%;
	margin-right: 30px;
}
.col-md-7{
	flex-basis: 60%;
}
.main-top .row {
    align-items: flex-start; 
}
.main-top {
    padding:  50px 0;
    background: #f1f1f1;
}
.title{
    font-family: Myriad pro;
    font-size: 25px;
}
.description{
	font-family: Myriad pro regular;
}
.learn-more {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    font-family: myriad pro;
}
.wrap-learn-more {
    background: #f99640;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}
.color {
    width: 280px;
    background: #2f2f2f;
    height: 180px;
}
.title-2 {
    font-family: myriad pro;
    font-size: 20px;
    font-weight: bolder;
}
.col-md-4 {
    flex-basis: 30%;
    margin-right: 40px;
}
.main-center{
	padding: 50px 0;
}
.main-bottom {
    color: #f6f6f6;
    background: #2f2f2f;
    padding: 50px;
}
.col-md-10 {
    flex-basis:35%;
    padding-right: 20px;
}
.col-md-11 {
    flex-basis: 49%;
    padding-right: 20px;
}
.col-md-12 {
    flex-basis: 16%;
}
.text-main-bottom {
    font-family: myriad pro;
}
.main-bottom td,p,span{
	font-family: myriad pro;
	font-size: 13px;
}
/*------*/
.footer-text {
    text-align: center;
    padding: 30px;
    font-family: myriad pro;
    font-size: 13px;
    color: #585858;
}
 .gg {
    display:flex;
    align-items:center;
    margin-bottom: 10px;
}
.gg span {
    font-size: 15px;
    padding-left: 5px;
    text-transform: bold;
    font-weight: bold;
}
.gg p{
    margin: 0;
    padding: 5px;
}
.row-main-bottom{
    display: flex;
}
