.header {
    background: #2f2f2f;
    padding: 10px 0px;
    color: #fff;
}
.row{
	display: flex;
	align-items: center;
}
.header li {
    display: inline-block;
    padding: 15px;
}
.menu-link {
    color: #fff;
    text-decoration: none;
    font-family: Myriad Pro, sans-serif;
}
.container {
    max-width:70%;
    margin: auto;
}
.main-top{
	background: #f1f1f1;
	padding: 30px 0px;
}
.main-center{
    background: #fff;
    padding: 30px 0px;
}
.main-bottom{
    background: #2f2f2f;
    padding: 30px 0px;
}
.main-bottom h2, .main-bottom h3, .main-bottom p{
    color: #fff;
}
/*Nhúng cacs font đã tải về vào hệ thống*/
@font-face {
	src: url('../Fonts/Pacifico.ttf');
	font-family: "Pacifico"
}
.logo-text {
    font-size: 40px;
    font-family: Pacifico;
}
.col-md-3{
    flex-basis: 30%;
}
.col-md-4{
    flex: 30%;
    margin: 0px 20px;
}
.col-md-5{
	flex-basis: 40%;
	margin: 0 20px;
}
.col-md-7{
	flex-basis: 60%;
	margin: 0 20px;
}
.col-md-9{
    flex-basis: 70%;
}
.title {
    margin-top: 0;
}
.main-top .row{
	align-items: flex-start;
	margin-left: -15px;
	margin-right: -15px;
}
.main-center .row{
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
}
.main-bottom .row{
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
}
.learn-more {
    display: inline-block;
    padding: 3px 14px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background-color: #f99640;
    border-radius: 6px;
}

.main-top-center{
    padding: 40px 0px;
}
.main-center-center {
    margin-top: 87px;
}
.main-bottom-center{
    margin-top: 87px;
}
.footer{
    color: #000;
    background: #fff;
    text-align: center;
}
.main-bottom-center.col-md-4 {
    margin-top: 86px;
}