*{
	margin: 0px;
}
a{
	text-decoration: none;
	color: orange;
}
h1{
	color: white;
	background: #000000bf;
	padding: 10px 5px;
	margin-bottom: 0px;
}
h1 big{
	color: orange;
	font-size: 50px;
	padding-bottom: -10px;
}
#links{
	background: grey;
	float: left;
	width: 100%;
}
#links ul{
	list-style-type: none;
	color: white;
	margin-left: -25px;
}
#links ul li{
	width: 5%;
	float: left;
	border-right: 1px solid black;
	text-align: center;
	margin-top: -15px;
	padding: 10px 0px;
}
#links ul li a{
	display: block;
	color: white;
}

#contain{
	width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
}
#contain #left{
	float: left;
	width: 70%;
	height: 100%;
	padding: 5px 20px 0px 20px;
}
#contain #left .left-sub{
	min-height: 200px;
	padding: 20px;
}
#contain #left .left-sub .left-sub-img{
	float: left;
	width: 20%;
}
#contain #left .left-sub .left-sub-img img{
	width: 200px;
	height: 200px;
}
#contain #left .left-sub .left-sub-text a{
	display: block;
}
#contain #left .left-sub .left-sub-text, a{
	float: right;
	width: 75%;
	padding: 10px;
}


#contain #right{
	float: right;
	height: 100%;
	width: 25%;
	background: #d0c8c8a1;
	padding: 16px;
}
#contain #right .right-sidbar, .right-other{
	clear: both;
}
#contain #right .right-sidbar a{
	width: 95%;
}
footer{
	clear: both;
	text-align: center;
	color: white;
	background: #000000bf;
	padding: 20px 0px;
}
footer em{
	color: orange;
}

