@charset "utf-8";
/* CSS Document */

#div-id{
	  
    border: solid;
    margin-left: 300px;
    margin-right: 600px;
    position: absolute;
	width: 350px;
}
#header-id{
   	text-align:center;
	width:84%;
	float:left;
		 padding: 14px 14px 43px 14px;
		  margin: 7px 10px 10px 10px;
    border: solid 2px;
}
#sider-id{
	text-align:center;
	width:10%;
	float:left;
		padding: 14px 14px 60px 14px;
		  margin: 7px 10px 10px 10px;
    border: solid 2px;
}
#content-id{
	text-align:center;
	width:60%;
	float:left;
		padding: 14px 14px 60px 14px;
		  margin: 7px 10px 10px 10px;
    border: solid 2px;
}
#footer-id{    float: left;
    padding: 14px 14px 43px 14px;
    border: solid 2px;
    margin: 5px 10px 10px 10px;
    width: 85%;
    background-color: #FFE599;}
