#div-bang1{
	background: #17820a;
    width: 514px;
    height: 280px;
    padding-top: 6px;
    padding-left: 14px;
    padding-right: 0px;
    padding-bottom: 18px;
}
#div-bang2{
	background: red;
    width: 498px;
    height: 102px;
    padding-top: 1px;
    padding-bottom: 1px;
}
#p-1{
	size: 2px;
}