#div-to{
    width: 533px;
    height: 388px;
    border-color: black;
    background: #ffffff;
    border: 3px solid;
}
#div-mock{
	    width: 533px;
    height: 30px;
    border-color: black;
    border-bottom: 3px solid;   
    line-height: 30px;
    font-size: 24px;
}
#div1{
	background: #EA9999;
	width: 24%;
    height: 57px;
    border-color: black;
    border: 3px solid;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;


}
#div2{
float: left;
    width: 68%;
    height: 57px;
    border-color: black;
    background: #9fc5f8;
    border: 3px solid;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
#div3{
	width: 24%;
    height: 57px;
    border-color: black;
    background: #EA9999;
    border: 3px solid;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
#div4{
	float: left;
    width: 68%;
    height: 57px;
    border-color: black;
    background: #9fc5f8;
    border: 3px solid;
    margin-top: 12px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#div5{
	width: 24%;
    height: 57px;
    border-color: black;
    background: #EA9999;
    border: 3px solid;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
#div6{
	float: left;
    width: 68%;
    height: 57px;
    border-color: black;
    background: #9fc5f8;
    border: 3px solid;
    margin-top: 12px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#div7{
    width: 95%;
    height: 57px;
    border-color: black;
    background: #ffe599;
    border: 3px solid;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}