.header {
    background: #2f2f2f;
    padding: 10px 0;
    color: #fff;
}
.row {
    display: flex;
    align-items: center;
}
.header li {
    display: inline-block;
    padding: 0 15px;
}
a.menu-link {
    color: #fff;
    text-decoration: none;
    font-family: Myriad Pro Bold,sans-serif;
}
.col-md-3{
	flex-basis: 30%;
}
.col-md-9{
	flex-basis: 70%;
}
.container {
    max-width: 70%;
    margin: auto;
}
/*nhúng front đã tải vào hệ thống*/
@font-face{
	src:url('../fonts/Pacifico.ttf');
	font-family: "Pacifico";
}
span.logo-text {
    font-size: 30px;
    font-family: Pacifico;
}
.col-md-5{
	flex-basis: 40%;
	margin: 0 20px;
}
.col-md-7{
	flex-basis: 60%;
	margin: 0 20px;
}
.main-top {
    background: #f1f1f1;
    padding: 30px;
}
.title{
	margin-top: 0;
}
.main-top .row{
	align-items: flex-start;
	margin-right: -15px;
	margin-left: -15px;
}
.wrap-learn-more{
    padding: 5px 10px;
    width: 80px;
    border-radius: 2px;
    background: #f99640;
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
}
.main-center{
    padding: 30px;
}
.container-center{
    max-width: 75%;
    margin: auto;
    margin-left: 15%;
}
.image1{
    width: 260px;
    height: 150px;
    background: #000;
}
.col-md-4{
    flex-basis: 30.33%;
    margin-right: 35px;
}
/*.footer{
    text-align: center;
    height: 30px;
}*/
.main-bottom{
    padding:30px;
    background: #2f2f2f;
    color: #fff;
}
.container-bottom{
    max-width: 70%;
    margin-left: 15%;
}
.col-bottom-left{
    margin: 0 15px;
    flex-basis: 35%;
}
.col-bottom-center{
    margin: 0 25px;
    flex-basis: 40%;
}
.col-bottom-right{
    margin: 0 15px;
    flex-basis: 15%;
}
.bottom-left-content{
    display: flex;
    margin-top: -20px;
}
.bottom-left-content p{
    width: 40px;
    height: 40px;
    background: #fff;
    color: #000;
    border-radius: 3px;
    text-align: center;
    flex-basis: 20%;
    margin-left: 5px;
}
.bottom-left-content div{
    flex-basis: 80%;
    line-height: 1px;
    margin-left: 10px;
}
.col-bottom-center{
    margin-top: -70px;
}
.bottom-right-content{
    display: flex;
}
.bottom-right-content h5{
    margin-left: 10px;
    margin-top: 5px;
}
.footer{
    text-align: center;
}