
*
{
	padding: 0;
	margin: 0
}
body
{
	background: #ffffff;
	margin: 0px auto;
	width: 800px;
	font-family: Inconsolata-Regular;
}
.header
{
	
	padding: 10px 0px;
	text-transform: uppercase;
	
}
.header a
{
	text-decoration: none;
	color: #8b8b8b;

}
.container {
	padding: 30px 0px;
}
.row
{
	display: flex;
	align-items: center;
}
.header li
{
	display: inline-block;
	padding: 0 15px;
}
.col-md-3
{
	flex-basis: 47%;
	letter-spacing: 5px;

}
.col-md-9
{
	flex-basis: 53%;
}
.content{
	width: 800px;

}
.content-top
{
	width: 800px;
	padding: 15px 0px;
}
@font-face
{
	src:url('../font/Inconsolata-Regular.ttf');
	font-family: 'Inconsolata-Regular';
}
@font-face
{
	src:url('../font/Ubuntu_Light/Ubuntu-Light.ttf');
	font-family: 'Ubuntu-Light';
}
@font-face
{	src:url('../font/playfair-display/PlayfairDisplaySC-Regular.ttf');
font-family: 'Playfair-DisplaySC-Regular';
}
.content-text
{
	padding: 20px 60px;
	margin-right: auto;
}
.text-line1
{
	
	color: #cac6bc;
	text-transform: uppercase;
	font-family: Ubuntu-Light;
}
.text-line2
{
	font-size: 30px;
	color: #727272;
	padding: 14px 0px;
	display: block;
	font-family: Playfair-DisplaySC-Regular;
}
.text-line3

{
	font-family: Playfair-DisplaySC-Regular;
	color: #727272;
	padding-bottom: 15px;
	display: inline-block;

}
.text-line4
{
	color: #cac6bc;
	text-transform: uppercase;
	font-family: Ubuntu-Light;
	display: block;
	padding-bottom: 50px;
}
.content-row img
{
	width: 400px;
}
.row1, .row2, .row3
{
	display: flex;
}
.row-a
{
	flex-basis: 50%;
	padding: 0px 15px;
}
.row-b
{
	flex-basis: 50%;
	padding: 0px 15px;
}
.anh-text1
{

	color: #cac6bc;
	text-transform: uppercase;
	font-family: Ubuntu-Light;
	padding-top: 25px;
	display: block;
}
.anh-text2
{
	font-size: 30px;
	color: #727272;
	padding: 14px 0px;
	display: block;
	font-family: Playfair-DisplaySC-Regular;
}
.anh-text3
{
	font-family: Playfair-DisplaySC-Regular;
	color: #727272;
	padding-bottom: 15px;
	display: inline-block;
	}.anh-text4
	{
		color: #cac6bc;
		text-transform: uppercase;
		font-family: Ubuntu-Light;
		display: block;
		padding-bottom: 50px;
	}
	.content-row {
		padding-bottom: 50px;
		}.row-between
		{
			text-align: center;
			background: #f0f0f0;
			height: 200px;
		}
		.between
		{
			padding: 50px 0px;
			height: 200px;
			width: 300px;
			margin: auto;
		}
		.text-between
		{
			padding-bottom: 15px;
			color: #333333;
			font-size: 20px;
			display: block;
			font-family:  Playfair-DisplaySC-Regular;
		}
		.between input
		{
			border-bottom: 2px solid black;
			background: #f0f0f0;
			height: 30px;
			width: 220px;
		}
		.between input:focus{
			outline:0;
			outline-style: none;
			outline-width: 0;
		}