* {
	margin: 0;
}
.header {
	background: #2f2f2f;
}
.row {
	display: flex;
	align-items: center;
	padding-left: 30px;
}
.col-md-3 {
	flex-basis: 30%;
}
.col-md-9 {
	flex-basis: 70%;
}
.header li {
	display: inline-block;
	padding: 0 15px;
}
.menu-link {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}
.header ul {
	padding-left: 400px;
}
.logo-text {
	padding-left: 20px;
	font-family: Pacifico;
	font-size: 30px;
	color: white;
}
.main-top {
	display: flex;
	background: #e0dbdb;
	padding: 30px 0;
}
.content {
	flex-basis: 50%;
	padding-left: 50px;
}
.image {
	flex-basis: 50%;
	padding-left: 55px;
}
.learn-more {
	color: white;
	text-decoration: none;
	background: #f99640;
	padding:5px;
	text-align: center;
}
.main-center {
	display: flex;
	padding: 30px 0;
	background: #c6f4d1;
}
.content2 {
	flex-basis: 33.3%;
	padding-left: 50px;
}
.content3 {
	flex-basis: 33.3%;
	padding-top: 50px;
}
.image2 {
	height: 200px;
	width: 312px;
	background: #2f2f2f;
}
.main-bottom1 {
	flex-basis: 33.3%;
	padding-left: 50px;
}
.main-bottom {
	display: flex;
	padding: 30px 0;
	background: #2f2f2f;
	color: white;
	font-family: Myriad Pro;
}
.main-bottom2 {
	flex-basis: 33.3%;
}
.main-bottom3 {
	flex-basis: 33.3%;
	padding-left: 100px;
}
.date {
	background: white;
	color: black;
	padding: 10px;
	text-align: center;
}
.text {
	padding: 10px;
}
.link {
	text-decoration: none;
	color: white;
	padding-left: 5px;
}
.icon {
	padding-top: 15px;
}
.footer {
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-family: Myriad Pro;
}