*{
	
margin: 0px;
	
padding: 0px;
}

li.li_footer {
    border-right: 1px solid #48352A;
}

a.a_footer {
    text-decoration: none;
    color: #48352A;
    padding: 7px;
}

ul.ul_footer {
    display: flex;
    list-style: none;
    position: relative;
    top: 97%;
    left: 12%;
}

h3.tieudeh3 {
    font-family: arial bold;
    color: #D08E28;
    margin-top: 10px;
}

h2.maincontennoi_row3_right_h2 {
    font-family: Arial;
    font-weight: bold;
    color: #7B9D33;
}

p.textcontent {
    font-family: arial regular;
    color: #463328;
    margin-top: 10px;
    font-size: 24px;
}

h2.maincontennoi_row3_left_h2 {
    font-family: Arial;
    font-weight: bold;
    color: #7B9D33;
}

.maincontennoi_row3_right {
    width: 50%;
    margin-left: 36px;
}

.maincontennoi_row3 {
    display: flex;
    padding-top: 24px;
}

.maincontennoi_row3_left {
    /* display: flex; */
    width: 50%;
}

.textcon {
    margin-top: 2px;
    font-family: arial regular;
    font-size: 18px;
    font-style: Regular;
}

.maincontennoi_row2_right_text {
    color: white;
    background: #DB972C;
    border-radius: 10px;
    width: 131px;
    height: 29px;
    text-align: center;
    padding-top: 4px;
    margin-left: 38px;
}

span.maincontennoi_row2_right_text {
    background: #DA962B;
    border-radius: 10px;
    color: white;
    font-family: Arial;
}

.maincontennoi_row2_right {
    width: 20%;
}

.maincontennoi_row2_left {
    width: 80%;
    font-family: Georgia;
    font-style: italic;
    padding-top: 7px;
    margin-left: 47px;
    font-size: 16px;
}

.maincontennoi_row2 {
    display: flex;
    height: 34px;
    border-top: 1px solid #E3D8C5;
    border-bottom: 1px solid #E3D8C5;
    padding: 5px 0px;
}

.maincontennoi {
    padding: 20px;
}

img.img_logo {
    width: 100%;
    border: 5px solid #E3D8C5;
}

a.menu_noi_a {
    text-decoration: none;
    color: white;
    font-family: Arial;
}

li.menu_noi_li {width: 20%;border: 1px solid #FEFAE8;text-align: center;height: 45px;padding-top: 10px;/* padding-left: 0px; *//* margin-left: 39px; */}

ul.menu_noi_ul {
    list-style: none;
    display: flex;
}

.menu {
    background: #82A537;
    height: 45px;
    /* padding-top: 1px; */
}

.contennoi {
    position: absolute;
    /* top: 10%; */
    background: #FEFAE8;
    width: 80%;
    top: 10%;
    left: 11%;
}

body {
    position: relative;
}

.footer {
    background: #B1A38D;
    height: 896px;
}

.main {
    background: #533E31;
    height: 200px;
}

span.textheader {
    color: #3C686B;
    font-size: 29px;
    font-family: Myriad Pro,sans-serif;
    position: relative;
    top: 38%;
    left: 17%;
}

.header {
    height: 100px;
    background: #DAEAEB;
}
.ul_footer li:nth-child(5){
			border-right: none;
}
.menu_noi_li:hover{
	background: #FEFAE8;
}
/*.div-child p:nth-child(3)
		{
			color: pink;
		}*/