body{
	font-family: Arial;
}
.wrapper, .header, .main, .footer{
	width: 100%;
}
.row{
	width: 78%;
	padding-left: 315px;
}
.main .col-md-12 .row{
	padding: 0px;
	width: 81%;
}
.col-md-12{
	width: 100%;
}
.col-md-10{
	width: 80%;
}
.col-md-2{
	width: 20%;
}
.col-md-6{
	width: 50%;
}
@font-face{
	src: ('../fonts/Qlassik_TB.ttf');
	font-family: "QlassikBold";
}
body{
	margin: 0px;
	padding: 0px;
}

.header{
	height: 120px;
	background: #dfeff0;
	color: #3a6669;
	font-family: QlassikBold, sans-serif;
}
.header .col-md-12 h2{
	margin: 0px;
	line-height: 100px;
}
.main .main-links ul{
	padding-left: 0px;
	margin: 0px;
}
.main .main-links ul li{
	display: inline-block;
	list-style-type: none;
	width: 20%;
	height: 35px;
	background: #87ab39;
	border-left: 1px white solid;
	margin-right: -5px;
	text-align: center;
	padding-top: 20px;
}

.main{
	position: relative;
}
.main .bg-brown.row{
	position: absolute;
	height: 200px;
	background: #5a4336;
	width: 100%;
}
.main .bg-faded-brown.row{
	position: absolute;
	top: 200px;
	background: #b1a38d;
	height: 630px;
	width: 100%;
}
.main .content-center.row{
	position: absolute;
	left: 320px;
	top: 25px;
	background: #fefae8;
	z-index: 3;
	padding-left: 0px;
	width: 78%;
}
