/* Trang web */
header {
	background-color: #2F2F2F;
	color: #FFFFFF;
	padding: 10px 0;
}
section {
	height: auto;
}
footer {
	background-color: white;
	height: 50px;
	display: flex;
}
/* Thuoc tinh chung */
.container {
	max-width: 70%;
	margin: auto;
	max-height: 100%;
}
.row {
	display: flex;
	align-items: center;l
}
/* Dong chung */
.col-md-4 {
	flex-basis: 33.33%;
}
/* Nhung fonts chu */
@font-face {
	src: url("fonts/Pacifico.ttf");
	font-family: "Pacifico";
}