/*.wrapper{*/
/*    padding:0 152px;*/
/*}*/
body{
    margin:0;
}
*{box-sizing: border-box}
.header{
    padding:10px 0;
    background:#2f2f2f;
}
.row{
    display:flex;
    align-items: center;
}
.col-md-6{
    flex:50%;
}
.container{
   max-width:80%;
    margin:auto;
}
/*nhúng các font đã taie về vào hệ thống*/
@font-face {
    src: url("../Font/Pacifico.ttf");
    font-family: pacifico;
}
.logo .logo-text{
    color:white;
    font-size:45px;
    font-family: pacifico;
}
.menu ul{margin:0;}
.menu li{
    list-style: none;
    padding:15px;
    margin:-1px;
    display:inline-block;
}
.menu a.menu-link{
    text-decoration:none;
    color:white;
    font-family:Myriad Pro;
    font-size:17px;
    font-weight:bold;
}

/*MAIN TOP*/
.main-top{
    background:#f1f1f1;
    padding:60px 0;
    font-family: Myriad Pro;
}
.main-top .row{
    align-items: flex-start;
    margin:0 -15px;
}
.col-md-5{flex:40%;}
.col-md-7{flex:60%;}
.col-md-5, .col-md-7{margin:0 15px;}

 img{width:100%;}
.main-top .title{margin:0;}
.main-top .description{
    color:#565656;
    font-family:Myriad Pro, Regular;
    font-size:14px;
}
.wrap-learn-more{
    padding:30px 0;
}
.wrap-learn-more .learn-more{
    color:white;
    padding:12px 20px;
    background:#f99640;
    border-radius:7px;
    text-decoration: none;
    font-size:16px;
    font-weight:bold;
}

/*MAIN-CENTER*/
.main-center{padding:40px 0}
.col-md-4{
    flex:33.33%;
    padding:0 28px;
}
.main-center .row{margin:0 -28px;}
.main-center img{    height: 250px;}
.main-center .description{
    font-size:14px;
    font-family:Myriad Pro, Regular ;
    color:#585858;
}


/*MAIN-BOTTOM*/

.main-bottom{
    background:#2f2f2f;
    color:white;
    padding:60px 0;
    font-family:Myriad Pro, Regular;
}
.main-bottom .row{align-items: flex-start;}
.main-bottom .col-md-4{
    flex:25%;
    padding:0;
}
.main-bottom .col-md-6{flex:55%}
.main-bottom .group5-about{
    max-width:400px;
    margin:Auto;
}
.main-bottom .col-md-2{flex:20%}
.note{padding:15px 0}
.note .row{margin:0 -10px}
.note .col-md-2{flex:15%;}
.group5 .col-md-8{flex:85%;}
.note .col-md-2,.note .col-md-8{padding:0 10px;}

.calendar{
    background:white;
    border-radius:5px;
    padding:10px 14px;
    color:black;
    text-align: center;
}
.calendar .block{
    display:block;
    font-size:13px;
}
.group5 .bold{
    font-weight:bold;
    font-size: 18px;
    font-family:Myriad Pro;
}
.group5 .description{
    font-size:12px;
    font-family:Myriad Pro, Regular ;
}
.text .title{margin:0;}
.icon ul{padding:0}
.icon li{
    list-style: none;
    padding:5px 0;
}

.icon img{
    width:auto;
}
.icon a{
    color:white;
    text-decoration: none;
    font-size:18px;
    font-family:Myriad Pro, Regular ;
}
.footer{padding:25px;}
.footer p{
    font-size:12px;
    font-family:Myriad Pro, Regular ;
    text-align: center;
    color:#0e1d1f;
}
.icon .row{padding:5px 0;}
.icon .col-md-8{padding-top:5px;}